html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
}



.wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0px;

	margin: 0;
	background-color: rgba(0, 0, 0, 0.2);
}


.content {
	height: 100%;
}



.presentation-card {
	
	font-family: "Arial";
	padding: 0px;
}


.top-part {
	box-shadow: 10px 10px 7px 0px rgba(10, 10, 10, 0.7);
}


.myself {
	background-color: rgba(255, 255, 255, 0.9);
}

.myself img {



	width: 192px;

	border-radius: 50%;
	padding: 10px;
}


.description {
	background-color: #45ADA8;
	width: 100%;


	margin: 0;


}

.description-content {
	padding: 30px;
	color: white;
}

.description-content p {
	margin: 0;
	font-size: 120%;
	text-align: center;
	line-height: 1.6;

}

.description-content strong {
	color: #34495e;
}



.social-media-buttons {
	margin-top: 20px;
	box-shadow: 10px 10px 7px 0px rgba(10, 10, 10, 0.7);
}

.social-media-button {
	text-align: center;
	height: 80px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	background-color: rgba(255, 255, 255, 0.9);
	transition: background-color 0.4s;
}

.social-media-button:hover {
	background-color: #45ADA8;
	transition: background-color 0.4s;
	color: white;
}

a {
	color: inherit;
}