:host .holder {
	position: relative;

	margin: 0;
	padding: 0;
}

:host(.fill) .holder {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	padding: 0.1px;
}


:host .holder canvas {
	position: absolute;

	padding: 0.1px;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	z-index: -10;
}